
// @import '../../../theme.scss';

::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color:  #4FAECF;

  font-size:12px !important;
}
::ng-deep .mat-step-header  {


  font-size:12px !important;
}


.stepper-label {
  color: #4FAECF;
  font-size:20px;
  font-weight:bold;
  border-bottom: 2px solid #4FAECF;
}
::ng-deep .mat-step-header .mat-step-icon {
  display: none !important;
}
::ng-deep.mat-step-header {
  padding: 5px;
}
::ng-deep .mat-stepper-vertical-line::before {
  display: none;
}
