<div style="padding: 3em" dir="rtl">
  <button (click)="complateStep()">complated Step</button>
  <mat-vertical-stepper #stepper [labelPosition]="'bottom'">
    <mat-step errorMessage="!שגיאה"
          [stepControl]="stepOne"
          [editable]="true"
          [completed]="complated">
      <form [formGroup]="stepOne">
        <ng-template matStepLabel>
          <div  class="stepper-label"> פרטי הוועדה  &nbsp; <mat-icon  style="transform: rotate(270deg)">arrow_back_ios</mat-icon></div>
        </ng-template>
        <!-- <ng-template matStepLabel>
          <p>like</p>
          <mat-icon>thumb_up</mat-icon>
        </ng-template> -->

        <div>
          <h1>Content for step 1</h1>
          <input formControlName="isNotEmpty">
        </div>
        <button mat-button (click)="complateStep()">complated Step</button>
      </form>
    </mat-step>


    <mat-step state="iconName" >
      <ng-template matStepLabel>
        <div  class="stepper-label"> הרשאות &nbsp; <mat-icon  style="transform: rotate(270deg)">arrow_back_ios</mat-icon></div>
      </ng-template>
      <div>
        <h1>Content for step 2</h1>
      </div>

    </mat-step>

    <mat-step >
      <ng-template matStepLabel>
        <div  class="stepper-label">הגדרות ועדה &nbsp; <mat-icon  style="transform: rotate(270deg)">arrow_back_ios</mat-icon></div>
      </ng-template>
      <div>
        <h1>Content for step 3</h1>
      </div>

    </mat-step>
    <ng-template matStepperIcon="iconName">
      <mat-icon>android</mat-icon>
    </ng-template>
  </mat-vertical-stepper>

</div>
<div>

  <button (click)="goForward(stepper)" mat-button color="primary" style="float: left;margin-left: 5px;"><mat-icon>arrow_back_ios</mat-icon> המשך</button>
  <button mat-mini-fab (click)="goBack(stepper)" mat-button color="primary"  style="float: right;margin-right: 5px;"><mat-icon  style="transform: rotate(180deg)">arrow_back_ios</mat-icon></button>
</div>

